html, body {
    height: 100%;
    background-color: #2E5077;
}

.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content {
    background-size: cover;
    width: 30%;
    text-align: center;
}

a, h1 {
    color: #4DA1A9;
}

a:hover {
    text-decoration: none;
    color: #336B70;
}